<launch>
  	<!-- <param name ="/use_sim_time" value="true"/> -->
	<node name="vins_fusion" pkg="vins"  type="vins_node" output="screen" args="$(find vins)/../config/xtdrone.yaml"/>

	<!-- <node name="loop_fusion" pkg="loop_fusion"  type="loop_fusion_node" args="$(find vins)/../config/fast_drone_250.yaml" output="screen"/> -->
	
	<!-- <node name="rviz" pkg="vins" type="rviz" respawn="false" output="screen"/> -->
</launch> 

